<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oh.common.mapper.CommonMapper">
    <sql id="page_top"/>

    <sql id="page_bottom">
        <if test="offset != null and psize != null">
            LIMIT #{offset}, #{psize}
        </if>
    </sql>

    <sql id="count_top">
        SELECT COUNT(1) AS count
    </sql>
</mapper>
