<configuration>
    <property name="PATTERN" value="%d %-5p [%t] %M\\(%F:%L\\) %m%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

<!--    <logger name="org.hibernate.SQL" level="debug"/>-->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>-->
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="error"/>
    <logger name="org.oh" level="debug"/>
</configuration>
